<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font sources -->
    <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Lobster+Two|Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellota|Calligraffitti&display=swap" rel="stylesheet">
    <!-- stylesheet -->
    <link rel="stylesheet" href="/Capstone-Project-No.5/UI/stylesheets/style-cart.css">
    <script src="/Capstone-Project-No.5/UI/script/cart-app.js"></script>
    <title>EDU-Shop Online Products</title>
</head>
<body class="body">
<!-- menu container element -->
<div class='menu-container'>
    <div class='menu'>
        <!-- search button -->
         <form class="search" action="action_page_php">
         <input type="text" placeholder="Search items" name="search items">
         <button type="button" class="search-button" onclick="document.location = '/Capstone-Project-No.5/UI/templates/cart.html'">Search</button>
         </form>

          <!-- nested menu links -->
          <!-- take user to Sign Up/In page -->
          <div class="nested-links">
          <div>
          <button type="button" class="sign-out" onclick="document.location = '/Capstone-Project-No.5/UI/templates/account.html'">Sign Out</button>
          </div>
          <!-- takes user to welcome page -->
          <div>
          <button type="button" class="welcome-page" onclick="document.location = '/Capstone-Project-No.5/UI/index.html'">Home</button>
        </div>
       </div>
      </div>
    </div>
    <!-- menu container element -->
        <div class='menu-container'>
        <div class='menu-buttons'>
              
        </div>
      </div> 

      <!-- header container element -->
      <div class='header-container'>
        <div class='header'>    
          <!-- logo image -->
          <div ><img id="logo" src='/Capstone-Project-No.5/UI/images2/images/1.png' alt="edu-shop online, connecting you to farm fresh foods" /></div>
        </div>
      </div>

      <!-- product items section -->
      <section class="container content-section">
        <h2 class="section-header">Our Farm Fresh Products</h2>
        <div class="products">
            <div class="shop-item">
                <span class="shop-item-title">Fruits</span>
                <img class="shop-item-image" src="/Capstone-Project-No.5/UI/images2/images/wat.jpg">
                
                <div class="shop-item-details">
                    <span class="shop-item-price">UGX2000</span>
                    <button onclick="addToCartClicked(event)" class="shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Vegetables</span>
                <img class="shop-item-image" src="/Capstone-Project-No.5/UI/images2/images/basket.jpg">
                <div class="shop-item-details">
                    <span class="shop-item-price">UGX3000</span>
                    <button onclick="addToCartClicked(event)" class="shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Herbs and Spices</span>
                <img class="shop-item-image" src="/Capstone-Project-No.5/UI/images2/images/sigmund-B2BR05q9acc-unsplash.jpg">
                <div class="shop-item-details">
                    <span class="shop-item-price">UGX6000</span>
                    <button onclick="addToCartClicked(event)" class="shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">Leafy Greens</span>
                <img class="shop-item-image" src="/Capstone-Project-No.5/UI/images2/images/elianna-friedman-4jpNPu7IW8k-unsplash.jpg">
                <div class="shop-item-details">
                    <span class="shop-item-price">UGX4000</span>
                    <button onclick="addToCartClicked(event)" class="shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
        </div>
    </section>

      <!-- cart section -->
      <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items"></div>
        <div class="cart-total">
            <button onclick="purchaseClicked" class="purchase-button" type="button">PURCHASE</button>
            <div>
            <strong class="cart-total-title">Total</strong>
            <span class="cart-total-price"><b>UGX</b></span>
            </div>
        </div>
        <!-- <button onclick="purchaseClicked" class="purchase-button" type="button">PURCHASE</button> -->
    </section>

      <!-- copyright container -->
      <div class="copyright"><footer>&copy; 2020 EDU-Shop Online </footer></div>
</body>
</html>
