<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href= "/Capstone-Project-No.5/UI/stylesheets/faq.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&family=Courgette&family=Lobster+Two:ital@1&family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>F-A-Q</title>
</head>
<body>
  <div class='menu-container'>
    <div class='menu-buttons'>
          
         <!-- signup/in links -->
        <button type="button" class="home-btn" onclick="document.location = '/Capstone-Project-No.5/UI/index.html'">Home</button>
    </div>
  </div>

    <div class="effect">
    <!--questions-->
      <h2> Where can I get my items? </h2>
      <ul>
          <li><b> Please contact any of our drop-off point agents below near you to get your stuff:</b>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Laboriosam blanditiis voluptate eius minima amet iure architecto, 
            libero nostrum fuga doloribus! Ducimus nulla autem libero quisquam
             deserunt obcaecati doloribus, consequuntur molestiae?</p></li>
       </ul>     
       <h2>How do I make Payments? </h2>
      <ul>
          <li><b>You can pay in-person to our agents, using mobile money or deibit and credit card;
            details on how below:</b>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Laboriosam blanditiis voluptate eius minima amet iure architecto, 
            libero nostrum fuga doloribus! Ducimus nulla autem libero quisquam
             deserunt obcaecati doloribus, consequuntur molestiae?</p></li>
       </ul>  
       <h2> I'd like to sell my produce with you. Where do I sign?</h2>
      <ul>
          <li><b>Visit us at our offices below to confirm your eligibility.</b>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Laboriosam blanditiis voluptate eius minima amet iure architecto, 
            libero nostrum fuga doloribus! Ducimus nulla autem libero quisquam
             deserunt obcaecati doloribus, consequuntur molestiae?</p></li>
       </ul> 
       <!--team shoutouts-->
       <h2>Are you guys Junior Developers? Because this site is awesome!!!</h2>
       <ul>
           <li><b>Well... It's all about the sauce !😊️ </b>
           <p>Put in the time, work and effort and you'll get results... It's a really simple formula
            🤸‍♀️️ Shoutout to LF N.M. Edna for stayig up late and getting up early like we were 
          nursery kids she needed to prepare for school (Demo Day) and making sure we were presentation
        ready before it 😂️🥂️ Thank you for pushing us to be our best and encouraging us to go beyond our 
        limits... It has truly been an honour and a pleasure to be in your team.. 😌️
          Special thanks to all the members of Bel-Air, our team, for all their
      feedback and help during this 2-week capstone project.. We look forward to working with all of 
    you in the future! 🤝️</p></li>
        </ul> 
<!--footer-->
       <div class="foot">
        <footer>&copy; 2020 EDU-Shop Online </footer></div>             
</div>

<!--header-->
<header>
  <h1>Frequently Asked Questions</h1>
</header>

</body>
</html>
