<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/UI/stylesheets/welcome.css">
    <!-- our font variation links -->
    <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Lobster+Two|Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellota|Calligraffitti&display=swap" rel="stylesheet">
    <title>EDU-Shop Online</title>
</head>

<body >
          <!-- menu container element -->
          <div class='menu-container'>
              <div class='menu-buttons'>
                    <!-- no location for this link yet -->
                    <button type="button" class="faq-btn" onclick="document.location = '/UI/templates/index.html'">F-A-Q</button>
                    <!-- note this should link to signup form first! -->
                    <button type="button" class="product-btn" onclick="document.location = '/UI/templates/account.html'">Our Products</button>
                    <!-- signup/in links -->
                  <button type="button" class="signup-btn" onclick="document.location = '/UI/templates/account.html'">Sign Up</button>
                  <button type="button" class="login-btn" onclick="document.location = '/UI/templates/account.html'">Login</button>
              </div>
            </div> 

            <!-- header container element -->
            <div class='header-container'>
              <div class='header'>    
                <!-- logo image -->
                <div ><img id="logo" src='/UI/imagesimages/1.png' alt="edu-shop online, connecting you to farm fresh foods" /></div>
              </div>
            </div>

            <!-- promotional content cards -->
            <div class='content-grid-container'>
              
              <div class='content-grid-card'>
                <div class='card-one'>
                    <img style="width:100%;" src='/UI/images2/images/fran-hogan-0vyvnOH-LVQ-unsplash.jpg' alt="woman smiling wearing a hat"/>
                    <p><b>Are you a farmer? <br> Come and sell your farm fresh products with us!</b></p>
                  </div>
              </div>

              <div class='content-grid-card'>
                <div class='card-two'>
                    <img style="width:100%;" src='/UI/images2/images/ashlee-attebery-JSvOsDlNmcQ-unsplash.jpg'/>
                    <p><b>All your farm fresh products in ONE place... <br> Create an account with us today!</b></p>
                </div>
              </div>

              <div class='content-grid-card'>
                <div class='card-three'>
                  <img style="width:100%; height:300px;" src='/UI/images2/images/markus-spiske-sFydXGrt5OA-unsplash.jpg'/>
                  <p><b>Your purchase means the world to our suppliers...<br>Support small scale farmers.</b></p>
                </div>
              </div>

            </div>
      
      <!-- footer element cards with company info -->
      <div class='footer-container'>
        <div class='footer-card'>
          <div class='footer-card-one'>
            <h3><b>Contacts Us</b></h3>
            <p><b>EDU-Shop Online contacts.</b></p> 
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <br>
              <img src="/UI/images2/images/social-icons.svg" alt="social media icons">
        </div>
      </div>

      <div class='footer-card'>
        <div class='footer-card-two'>
          <h3><b>Visit Our Offices</b></h3>
            <p><b>EDU-Shop Online location details.</b>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>

      <div class='footer-card'>
        <div class='footer-card-three'>
            <h3><b>About EDU-Shop Online</b></h3>
            <p><b>Details about EDU-Shop Online.</b></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>

      <!-- copyright container -->
      <div class="copyright"><footer>&copy; 2020 EDU-Shop Online </footer></div>
      
    </body>
</html>
