<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type ="text/css" href= "/UI/templates/products.html"/>
  <link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet">
  <script src="/script/product.js"></script> 

  <title>Products</title>
</head>

<body>
    <div class= "card">
  <div class="top-section">
  <img id="image-container" src="/UI/images1/wat.jpg" alt="watermelons">
  <div class ="navi">
      Buy<br>Sell
  </div>
   <div class="price">20$</div>
</div>

<div class="product-info">
   <div class="name">Watermelons</div>
   <div class="description">Freshly picked by trusted famers</div>
</div>
</div>




</body>


</html>