<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href= "/Capstone-Project-No.5/UI/stylesheets/account.css"/>

    <title>Document</title>
</head>
<body>
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <h2> Vivamus ac turpis placerat </h2>
    <ol>
        <li> Vivamus ac turpis placerat, tempor nisl quis, gravida ligula.</li>
           <li> Phasellus sodales lectus sed nulla viverra, eget cursus felis varius.</li>
             <li> In eget risus id odio consequat commodo.</li>
                <li> Maecenas egestas arcu a lorem posuere venenatis.</li>
                    <li> Phasellus in sapien convallis risus lacinia volutpat.</li>
    </ol>
    
    <h2> Vivamus ac turpis placerat </h2>
    <ol>
        <li> Vivamus ac turpis placerat, tempor nisl quis, gravida ligula.</li>
           <li> Phasellus sodales lectus sed nulla viverra, eget cursus felis varius.</li>
             <li> In eget risus id odio consequat commodo.</li>
                <li> Maecenas egestas arcu a lorem posuere venenatis.</li>
                    <li> Phasellus in sapien convallis risus lacinia volutpat.</li>
    </ol>
    
    <h2> Vivamus ac turpis placerat </h2>
    <ol>
        <li> Vivamus ac turpis placerat, tempor nisl quis, gravida ligula.</li>
           <li> Phasellus sodales lectus sed nulla viverra, eget cursus felis varius.</li>
             <li> In eget risus id odio consequat commodo.</li>
                <li> Maecenas egestas arcu a lorem posuere venenatis.</li>
                    <li> Phasellus in sapien convallis risus lacinia volutpat.</li>
    </ol>
</body>
</html>
